
*.lock
.idea/
*.env
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/javaCompile/classAnalysis.bin
build/classes/java/main/JoeCord/Seal/ClapBot/CommandHandler.class
build/classes/java/main/JoeCord/Seal/ClapBot/Main.class
build/classes/java/main/JoeCord/Seal/ClapBot/MessageListener.class
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/fileHashes/fileHashes.bin
build/classes/java/main/JoeCord/Seal/ClapBot/CommandHandler.class
build/classes/java/main/JoeCord/Seal/ClapBot/Main.class
build/classes/java/main/JoeCord/Seal/ClapBot/MessageListener.class
*.bin
.vscode/launch.json
.vscode/
.classpath
.project
